{% extends 'jobs/base.html' %}
{% load static %}

{% block content %}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'jobs/img/hero/her.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Blogs</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for blog in page_obj %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            {% if blog.image %}
                                <img class="card-img rounded-0" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                            {% else %}
                                <img class="card-img rounded-0" src="{% static 'jobs/img/blog/default_blog.png' %}" alt="Default">
                            {% endif %}
                            <a href="#" class="blog_item_date">
                                <h3>{{ blog.created_at.day }}</h3>
                                <p>{{ blog.created_at|date:"M" }}</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'blog_detail' blog.id %}">
                                <h2>{{ blog.title }}</h2>
                            </a>
                            <p>{{ blog.content|truncatewords:30 }}</p>
                            <ul class="blog-info-link">
                                <li><a href="{% url 'blog_list' %}?category={{ blog.category.name|urlencode }}"><i class="fa fa-user"></i> {{ blog.category.name }}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> {{ blog.replies.count }} Comments</a></li>
                                <li>
                                    <form action="{% url 'toggle_like' blog.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-link" style="border:none; background:none;">
                                            <i class="fa fa-heart{% if request.user in blog.likes.all.user_set.all %} text-danger{% endif %}"></i> {{ blog.likes.count }} Likes
                                        </button>
                                    </form>
                                </li>
                            </ul>

                            <!-- Replies Section -->
                            <!--<div id="blog-{{ blog.id }}" class="mt-3">
                                <h5>Replies</h5>
                                {% for reply in blog.replies.all %}
                                    <div class="comment">
                                        <p><strong>{{ reply.author.username }}</strong> ({{ reply.created_at|timesince }} ago): {{ reply.content }}</p>
                                    </div>
                                {% empty %}
                                    <p>No replies yet.</p>
                                {% endfor %}
                                
                            </div>-->
                        </div>
                    </article>
                    {% empty %}
                        <p>No blog posts available.</p>
                    {% endfor %}

                    <!-- Pagination -->
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="{% url 'blog_list' %}" method="get">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" name="q" class="form-control" placeholder="Search Keyword"
                                        value="{{ request.GET.q }}" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btns" type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Search</button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Categories</h4>
                        <ul class="list cat-list">
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'blog_list' %}?category={{ category.name }}" class="d-flex">
                                        <p>{{ category.name }}</p>
                                        <p>({{ category.blogpost_set.count }})</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Posts</h3>
                        {% for recent_post in recent_posts %}
                            <div class="media post_item">
                                {% if recent_post.image %}
                                    <img src="{{ recent_post.image.url }}" alt="{{ recent_post.title }}" style="width: 60px;">
                                {% else %}
                                    <img src="{% static 'jobs/img/blog/default_post.png' %}" alt="Default" style="width: 60px;">
                                {% endif %}
                                <div class="media-body">
                                    <a href="{% url 'blog_list' %}#blog-{{ recent_post.id }}">
                                        <h3>{{ recent_post.title|truncatewords:5 }}</h3>
                                    </a>
                                    <p>{{ recent_post.created_at|date:"F d, Y" }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p>No recent posts.</p>
                        {% endfor %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}