{% extends 'jobs/base.html' %}
{% load static %}

{% block content %}
<br><br><br><br>
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="{% url 'contact' %}" method="post" id="contactForm" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.Name }}
                                {% if form.Name.errors %}
                                    <div class="text-danger">{{ form.Name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.Email }}
                                {% if form.Email.errors %}
                                    <div class="text-danger">{{ form.Email.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.Subject }}
                                {% if form.Subject.errors %}
                                    <div class="text-danger">{{ form.Subject.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.Message }}
                                {% if form.Message.errors %}
                                    <div class="text-danger">{{ form.Message.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Nairobi</h3>
                        <p>CBD</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+254712345678</h3>
                        
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>lesmwendwa@gmail.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br>
{% endblock %}