{% extends 'jobs/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<br><br><br><br><br><br>




{% if messages %}
  <div class="container">
    {% for message in messages %}
      <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="slider-area ">
  <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'jobs/img/hero/hero1.jpg' %}">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">
                      <h2>{{ job.title }}</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <!-- Hero Area End -->
  <!-- job post company Start -->
  <div class="job-post-company pt-120 pb-120">
      <div class="container">
          <div class="row justify-content-between">
              <!-- Left Content -->
              <div class="col-xl-7 col-lg-8">
                  <!-- job single -->
                  <div class="single-job-items mb-50">
                      <div class="job-items">
                          <div class="company-img company-img-details">
                              <a href="#"><img src="{{ job.company.logo.url }}" alt="" style="width: 85px; height: 85px; object-fit: contain; border: 2px solid #ddd; border-radius: 10px; padding: 5px;"></a>
                          </div>
                          <div class="job-tittle">
                              <a href="#">
                                  <h4>{{ job.title }}</h4>
                              </a>
                              <ul>
                                  <li>{{job.company.company_name}}</li>
                                  <li><i class="fas fa-map-marker-alt"></i>{{job.location}}</li>
                                  <li>Ksh {{ job.salary_min }}-{{ job.salary_max }}</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                    <!-- job single End -->
                 
                  <div class="job-post-details">
                      <div class="post-details1 mb-50">
                          <!-- Small Section Tittle -->
                          <div class="small-section-tittle">
                              <h4>Job Description</h4>
                          </div>
                          <p>{{ job.description }}</p>
                      </div>
                      <div class="post-details2  mb-50">
                           <!-- Small Section Tittle -->
                          <div class="small-section-tittle">
                              <h4>Required Knowledge, Skills, and Abilities</h4>
                          </div>
                         <ul>
                              {% for skill in job.required_skills.splitlines %}
                                  {% if skill %}
                                      <li>{{ skill }}</li>
                                  {% endif %}
                              {% endfor %}
                         </ul>
                      </div>
                      <div class="post-details2  mb-50">
                           <!-- Small Section Tittle -->
                          <div class="small-section-tittle">
                              <h4>Education + Experience</h4>
                          </div>
                         <ul>
                              {% for exp in job.education_experience.splitlines %}
                                  {% if exp %}
                                      <li>{{ exp }}</li>
                                  {% endif %}
                              {% endfor %}
                            
                              

                         </ul>
                      </div>
                  </div>

              </div>
              <!-- Right Content -->
              <div class="col-xl-4 col-lg-4">
                  <div class="post-details3  mb-50">
                      <!-- Small Section Tittle -->
                     <div class="small-section-tittle">
                         <h4>Job Overview</h4>
                     </div>
                    <ul>
                        <li>Posted date : <span>{{ job.created_at|date:"F d, Y" }}</span></li>
                        <li>Location : <span>{{ job.location }}</span></li>
                        <li>Job nature : <span>{{ job.get_job_type_display }}</span></li>
                        <li>Salary :  <span>Ksh {{ job.salary_min }}-{{ job.salary_max }}</span></li>
                        <li>Application deadline : <span>{{job.application_deadline}}</span></li>
                    </ul>
                    {% if user.profile.user_type != "employer" %}
                      <div class="apply-btn2">
                          <a href="{% url 'jobs:apply_job' job.pk %}" class="btn">Apply Now</a>
                      </div>
                      <br>
                      <div class="apply-btn2">
                        <a href="{{ job.external_apply_url }}" class="btn">Apply Externally</a>
                      </div>
                      <br>
                    {% endif %}

                    {% if user.is_authenticated and user.profile.user_type == 'candidate' %}
                    <a href="{% url 'jobs:send_message' job.company.id %}" class="btn btn-primary">Contact Employer</a>
                    {% endif %}

                   {% if user.is_authenticated and user == job.company.user %}
                      <div class="apply-btn2">
                        <a href="{% url 'jobs:job_update' job.pk %}" class="btn">Edit Job</a>
                      </div><br>
                      <div class="apply-btn2">
                        <a href="{% url 'jobs:view_applicants' job.pk %}" class="btn">View Applicants</a>
                      </div>
                    {% endif %}
                      


                   
                   
                   
                 </div>
                  <div class="post-details4  mb-50">
                      <!-- Small Section Tittle -->
                     <div class="small-section-tittle">
                         <h4>Company Information</h4>
                     </div>
                        <span>{{ job.company.company_name }}</span>
                        <p>{{ job.company.description }}</p>
                      <ul>
                          <li>Name: <span>{{ job.company.company_name }} </span></li>
                          {% if job.company.website %}
                              <li>Web : 
                                <span>
                                    <a href="{{ job.company.website }}" target="_blank" style="color: inherit; text-decoration: none;">
                                        {{ job.company.website|domain_only }}
                                    </a>
                                </span>
                              </li>
                          {% endif %}
                          <li>Email: <span>{{ job.company.email }}</span></li>
                      </ul>
                 </div>
              </div>
          </div>
      </div>
  </div>
  <!-- job post company End -->
{% endblock %}